*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:white;
}
header h1{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    float: left;

}
header img {
    width: 25px;
    float: right;
    margin: 0%;
    padding-top: 20px;
    padding-right: 20px;
}
header img:hover {
    color:white;
}
.first {
    height: 970px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 1000;
    text-align: center;
    padding:500px 00px 230px 0px;
    height: 10vh;

}
section .sign_up{
    margin: 10px;
}
.menu li{
    display: inline;
    margin: 10px;
    margin-left: 20px;
    
}
section button {
    float: left;
    font-size: 20px;
    font-weight: bold;
    width: 90px;
    height: 35px;
    margin-left: 20px;
    background-color:white;
    border-width: 0.2px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.7);
}
section button:hover {
    background-color: white;
    transition: 0.7s;
    border-color: green;
    color: green;
}
section h3 {
    margin-left: 120px;
    color: rgba(0, 0, 0, 0.7);
}
section h3:hover {
    color: black;
}

    
section nav {
    margin: 10px;
    color: rgba(0, 0, 0, 0.7);
}
section nav:hover {
    color: black;
}
.last img {
    float: right;
    width: 35px;
}
@media screen and (max-width:650px) and (min-width:350px){
    
}
header h1{
    font-size: 17px;

}
header img {
    width: 20px;
}
.first {
    height: 770px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding:400px 00px 230px 0px;

}
section .sign_up{
    margin: 8px;
}
.menu li{
    margin: 5px;
    margin-left: 7px;
    font-size: 12px; 
}
section button {
    font-size: 15px;
    width: 80px;
    height: 25px;
    margin-left: 20px
}
section h3 {
    margin-left: 120px;
}
    
section nav {
    margin: 8px;
}
.last img {
    width: 30px;
}
